<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/student.css">
    <script src="https://kit.fontawesome.com/6eb2648c52.js" crossorigin="anonymous"></script>
    <title>My Profile</title>
</head>

<body>

    <div class="main-container">

        <!-- HEADER -->
        <header class="block">
            <ul class="header-menu horizontal-list">
                <li>
                    <a class="header-menu-tab" href="/logout"><span class="icon fontawesome-user scnd-font-color"></span>Log Out</a>
                </li>
            </ul>
            <div class="profile-menu">
                <p>
                    <%= fullnameforhtmlkey %>
                </p>
                <div class="profile-picture small-profile-picture">
                    <img width="40px" alt="User picture" src="https://capenetworks.com/static/images/testimonials/user-icon.svg">
                </div>
            </div>
        </header>

        <!-- LEFT-CONTAINER -->
        <div class="left-container container">
            <div class="menu-box block">
                <!-- MENU BOX (LEFT-CONTAINER) -->
                <h2 class="titular">MENU BOX</h2>
                <ul class="menu-box-menu">
                    <li>
                        <a class="menu-box-tab" href="https://www.facebook.com/groups/152640442356166/"><span class="icon fab fa-facebook scnd-font-color"></span>FaceBook Group</a>
                    </li>
                    <li>
                        <a class="menu-box-tab" href="https://www.youtube.com/channel/UC-RBTSnxMq5o4R1pMNSAJ-w"><span class="icon fab fa-youtube scnd-font-color"></span>Youtube Channel</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- MIDDLE-CONTAINER -->
        <div class="middle-container container">
            <div class=" block">
                <div class="container menu-box block">
                    <h1 class="titular titular1">ATTENDANCE</h1>
                    <div class="container">
                        <h1 class="user-name"><%= attendanceforhtml %>/11</h1>
                    </div>
                </div>
                <div class="container menu-box block">
                    <h1 class="titular titular2">AVERAGE EXAMS</h1>
                    <div class="container">
                        <h1 class="user-name"><%= avgexamsforhtml %></h1>
                    </div>
                </div>
                <div class="container menu-box block">
                    <h1 class="titular titular3">BLACK POINTS</h1>
                    <div class="container">
                        <h1 class="user-name"><%= blackpointsforhtml %>/4</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- RIGHT-CONTAINER -->
        <div class="right-container container">
            <div class="profile block">
                <!-- PROFILE (MIDDLE-CONTAINER) -->
                <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
                <div class="profile-picture big-profile-picture clear">
                    <img width="150px" alt="Anne Hathaway picture" src="https://capenetworks.com/static/images/testimonials/user-icon.svg">
                </div>
                <h1 class="user-name">
                    <%= fullnameforhtmlkey %>
                </h1>
                <div class="profile-description">
                    <p class="scnd-font-color">Info</p>
                </div>
            </div>
        </div>
        <!-- end right-container -->

    </div>
</body>

</html>